.ai-image-tabs {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px auto;
}

.ai-image-tabs__nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.ai-image-tabs__nav-item {
	padding: 10px 20px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #eee;
}

.ai-image-tabs__nav-item.active {
	background-color: #fff;
	/* Lighten background for active tab */
}

.ai-image-tabs__content {
	padding: 10px;
}

.ai-image-tabs__content-item {
	display: none;
}

.ai-image-tabs__content-item.active {
	display: block;
}

form {
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type="text"],
input[type="submit"] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #444;
}

#pixels-loaded-images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

#pixels-loaded-images img {
	width: 100%;
	height: auto;
}
